.page-body {
  position: absolute;
  top: $layoutHeight;
  max-height: calc(100vh - 2 * #{$layoutHeight});
}

@media screen and (max-height: 550px) {
  .page-body {
    position: absolute;
    top: $layoutHeight;
    max-height: calc(100vh - #{$layoutHeight});
  }
}

html.dark {
  .bg-gray-100 {
    background-color: #3e4042;
  }
  .page-body {
    background-color: #3e4042;
  }
}