.chart-header {
  position: relative;
  width: 95%;
  left: 2.5%;
}

.cards-body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.cards-body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.divline {
  border: 1px;
  border-color: rgb(239, 239, 239);
}

.gray {
  color: rgb(147, 138, 153);
}

// dark
html.dark {
  .card {
    background-color: rgb(30, 30, 30) !important
  }
  .divline {
    border-color: rgb(132, 132, 132) !important;
  }
  .gray {
    color: rgb(210, 210, 210) !important;
  }
  .btn-chart {
    border-color: rgb(132, 132, 132);
  }
}