.page-status {
  position: fixed;
  width: 100%;
  height: $layoutHeight;
}

.dashboard-logo {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.divline {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inoculator-area {
  text-align: center;
  margin-top: -20px;
}