.chart-header {
  position: relative;
  width: 95%;
  left: 2.5%;
}

.cards-body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.cards-body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.divline {
  border: 1px solid;
  border-color: rgb(239, 239, 239);
}

.gray {
  color: rgb(147, 138, 153);
}

.purple {
  color: rgb(180, 110, 188);
}

.red {
  color: rgb(237, 98, 56);
}

.basecolor {
  color: rgb(98, 176, 182);
}

.blue {
  color: rgb(81, 134, 236);
}

.PFIZER {
  // 보라색
  background-color: rgb(180, 110, 188)!important;
  color: white!important;
  border-color: gray!important;
}

.MODERNA {
  // 빨간색
  background-color: rgb(237, 98, 56)!important;
  color: white!important;
  border-color: gray!important;
}

.AZ {
  // 기본색
  background-color: rgb(98, 176, 182)!important;
  color: white!important;
  border-color: gray!important;
}

.ANSEN {
  //파란색
  background-color: rgb(81, 134, 236)!important;
  color: white!important;
  border-color: gray!important;
}