.page-status {
  position: relative;
  width: 95%;
  left: 2.5%;
}

.gray {
  color: #938a99;
}

.active {
  background-color:#9ed0d3;
}

.VueCarousel {
  overflow: hidden;
}

.VueCarousel-pagination {
  margin-top: -1.65rem;
  z-index: 10;
  .VueCarousel-dot-container {
    margin-top: -1rem!important;
    .VueCarousel-dot {
      margin-top: -1rem!important;
    }
  }
}

html.dark {
  .gray {
    color: #fafafa;
  }
  .stat {
    background-color: #1e1e1e;
  }
  .stat-title {
    color: #e6e6e6 !important;
    opacity: 1;
  }
  .VueCarousel-pagination {
    margin-top: -2rem;
    z-index: 10;
    .VueCarousel-dot-container {
      margin-top: -1rem!important;
      .VueCarousel-dot {
        margin-top: -1rem!important;
      }
    }
  }
  .VueCarousel-dot {
      position: relative;
      background-color: transparent !important;
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: gray;
        position: absolute;
        margin-top: -0.4rem;
        margin-left: -0.2rem;
      }
      &--active::after {
        background-color: #417d87;
      }
    }
}
