.chart-header {
    text-align: center;
    margin-top: 185px;
    margin-left: 8vw;
}

.chart-logo {
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 15px;

  span {
    font-size: 14px;
  }
}

.chart {
    margin: 0 auto;
}