.page-header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: black;
  background-color: white;
  height: $layoutHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-logo {
    margin-left: 20px;
  }

  .header-user {
    font-size: 10px;
    width: $layoutHeight;
    margin-right: 20px;
  }
}
