.review-list {
  height: calc(100vh - #{$layoutHeight} - 160px);
}
.review-list-2 {
  height: calc(100vh - #{$layoutHeight} - 175px);
}
.my-review-list{
  height: calc(100vh - #{$layoutHeight} - 5px);
}

@media screen and (max-height: 550px) {
  .review-list {
    height: calc(100vh - #{$layoutHeight} - 100px);
  }
}

.tag{
  @apply m-1 btn btn-outline btn-primary btn-sm;
}

html.dark {
  full-screen {
    background-color: #1e1e1e;
    color: #fafafa;
  }
  .search-dark {
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
  }
  fa-icon {
    color: rgb(230, 230, 230);
  }
}