@import 'mixins.scss';
@import 'partials/header.scss';
@import 'partials/body.scss';
@import 'partials/footer.scss';
@import 'partials/board.scss';
@import 'partials/review.scss';
@import 'partials/fullScreen.scss';
@import 'partials/dashboard.scss';
@import 'partials/dashboardChart.scss';

html {
  font-size: 14px;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

html.dark {
  color: #fafafa;
  .text-white {
    color: #fafafa !important;
  }
  .text-primary {
    color: #417d87 !important;
  }
  .text-success {
    
  }
  .text-error {

  }
  .content-area {
    background-color: #3e4042; // bg-dark-200
  }
  .bg-SignUp { // 분리 필요
    .content-area {
      background-color: #1e1e1e; // bg-dark-200
    }
  }
  .menu {
    background-color: #3e4042;
  }
  .modal-box {
    background-color: #3e4042;
  }
  input::placeholder {
    color: rgb(230, 230, 230);
  }
  textarea::placeholder {
    color: rgb(230, 230, 230);
  }
  .btn-primary {
    background-color: #417d87 !important;
    border-color: #417d87 !important;
    color: #fafafa !important;
  }
  .btn-review {
    background-color: #3e4042 !important;
    border-color: #3e4042 !important;
    color: #fafafa !important;
  }
  .bg-dark {
    background-color: #1e1e1e !important;
  }
  .bg-dark-200 {
    background-color: #3e4042 !important;
    border-color: #3e4042 !important;
    color: #fafafa !important;
  }
  .bg-primary {
    background-color: #417d87 !important;
  }
  .bg-base-200 {
    background-color: #3e4042 !important;
  }
  .bg-gray-200 {
    background-color: #848484 !important;
  }
}
